.main-index-block {
  //position: relative;
  font-size: 4rem;
  //height: 100%;
  font-weight: bold;
}

.main-paragraph {
  position: absolute;
  z-index: 2;
  color: #cb9531;
  text-shadow: 0 0 2px #cb9531, 0 0 2px #cb9531;
  opacity: 0;
  &_first {
    left: 37%;
    top: 20%;
  }
  &_second {
    right: 30%;
    top: 35%;
  }
  &_third {
    left: 23%;
    top: 50%;
  }
  &_forth {
    right: 20%;
    top: 65%;
  }
}

.symbol-question {
  position: absolute;
  color: green;
  text-shadow: 0 0 2px green, 0 0 2px green;
}

.start-quiz__btn {
  position: absolute;
  z-index: 2;
  left: 37%;
  top: 78%;
  border: 3px solid darksalmon;
  background: #310c53;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: green;
  }
}

.show-paragraph {
  animation: show-paragraph 3s ease;
  opacity: 1;
}

@keyframes show-paragraph {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}