.question-container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.bird-image {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  &_default {
    object-fit: unset;
  }
}

.bird-question__description {
  width: 100%;
}

.bird-question__name {
  margin: 20px 0;
  letter-spacing: 3px;
}