.results-block {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: clamp(3rem, 75%, 4rem);

}

.results-block__button {
  cursor: pointer;
  border-radius: 8px;
  border: 3px solid darksalmon;
  color: inherit;
  padding: 10px;
  margin: 0 auto;
  transition: all 0.2s ease;
  &:hover {
    background: #236132;
  }
}

.result-quantity {
  color: darksalmon;
}