.results-block {
  display: flex;
  //text-align: center;
  //justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  justify-content: start;
  padding: 120px;
  font-size: clamp(3rem, 75%, 4rem);
  color: green;
  animation: show-background 3s ease;
  background: url("../img/salut2.jpg") no-repeat;
}

.results-block__button {
  cursor: pointer;
  border-radius: 8px;
  border: 3px solid darksalmon;
  color: inherit;
  background: #666464;
  color: black;
  padding: 2px;
  max-width: 170px;
  transition: all 1s ease;
  &:hover {
    background: #74ac74;
  }
}

.result-quantity {
  color: darksalmon;
}

@keyframes show-background {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}