.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

.github-svg {
  fill: green;
  transition: all 0.3s ease;
  &:hover {
    fill: darksalmon;
  }
}


.rsschool-svg {
  fill: green;
  transition: all 0.3s ease;
  &:hover {
    fill: darksalmon;
  }
}