.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}